<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
 
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Hello</h1>
<form method="post" name="comment_form" id="comment_form" th:action="@{/create_user}" >
                <label for="email">Name</label>                
                <input type="text" 
                       name="name" /> <br/>
                <label for="pass">Surname</label>
                <input type="text" 
                      name="surname" /><br/>
                <label for="phone">Phone</label>
                <input type="text" 
                      name="phone" /><br/>
                <label for="email">E-mail</label>
                <input type="text" 
                      name="email" /><br/>
                <label for="password">Password</label>
                <input type="password" 
                      name="password" /><br/>
                <label for="role">Role</label>
                <input type="text" 
                      name="role" /><br/>
               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>