<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SMaSys</title>
    <link href="/css/style_1.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" />
</head>

<body>  
<div class="header">
<!--    <h1 class="header">SMaSys</h1>-->
    <p class="header"><span th:text="${user}" /></p>
    <a class="logout" href="/?logout">Logout</a>
</div>

<div class="container">

    <div layout:fragment="content">
        <p>SERVER DOWN !</p>
    </div>
</div>
<!-- /.container -->

</body>
</html>
