
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
 
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Hello</h1>
 
<h2>Fellow <!--<span th:text="${user.message}" />-->!!!</h2>

<form method="post" name="comment_form" id="comment_form" th:action="@{/join_teacher}" >
                <label for="teacherid">Teacher ID</label>                
                <input type="text" 
                       name="teacherid" /> <br/>
              
               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" id="submit" class="btn btn-primary">Join</button>
</form>

    <table>
        <thead>
        <tr>
            <th>Teachers</th>
            <th>Action</th>
            
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="teacher : ${teachers}">
            <td class="message" data-th-text="${teacher.id}"></td>

            <td>
                <!--<a th:href="@{'/posts/{id}/delete'(id=${post.id})}" class="delete" th:attr="name=${post.message}">-->
                    Teacher    <span th:text="${teacher.firstname}" /> <span th:text="${teacher.lastname}" />
               
            </td>            
        </tr>
        </tbody>
    </table>

</body>
</html>