
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
 
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Hello</h1>
 
<h2>Fellow <!--<span th:text="${user.message}" />-->!!!</h2>

<form method="post" name="comment_form" id="comment_form" th:action="@{/student/join_course}" >
                <label for="courseid">Teacher ID</label>                
                <input type="text" 
                       name="courseid" /> <br/>
              
               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" id="submit" class="btn btn-primary">Join</button>
</form>

    <table >
        <thead>
        <tr>
            <th>Teacher</th>
            <th>Lesson</th>
            
        </tr>
        </thead>
        <tbody>
            <tr data-th-each="lesson : ${lessons}">               
                <td data-th-text="${lesson.teacher.lastname}"></td>
                <td  data-th-text="${lesson.title}"></td>
            
            </tr>
     
        </tbody>
    </table>

</body>
</html>