<html layout:decorator="layout">
    <div layout:fragment="content">
               <p class="join_curse"><a class="new_course" href="/success">Cancel</a></p>

<h1><span th:text="${course.title}" /></h1>
<h2>Curator: <span th:text="${course.teacher.firstname}" /> <span th:text="${course.teacher.lastname}" /></h2>
<h3>Course Description: <span th:text="${course.description}" /></h3>
 



    <table >
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Action</th>
            
        </tr>
        </thead>
        <tbody>
            <tr data-th-each="student : ${students}">               
                <td data-th-text="${student.firstname}"></td>
                <td  data-th-text="${student.lastname}"></td>
                <td  th:switch="${role}"> 
                      <p th:case="'ROLE_ADMIN'">
                         <a th:href="@{'/course/{id}/delete'(id=${student.studentid})}" th:attr="name=${student.studentid}">
                            X
                        </a>
                      </p>
                      <p th:case="'ROLE_USER'">User is a student</p>
                      <p th:case="*"></p> 
                </td>
            
            </tr>
     
        </tbody>
    </table>

</div>
</html>