<html layout:decorator="layout">
    <div layout:fragment="content">
        <p class="join_curse"><a class="new_course" href="/posts">Cancel</a></p>
        <div class="login">
            <form method="post" name="comment_form" id="comment_form" action="/posts/update" role="form">
                <label for="message">Edit course name:</label>
                <textarea rows="1"  class="form" id="message" name="message" th:text="${post.message}"/>
                <input type="hidden" id="post_id" rows="1" class="form" name="post_id" th:value="${post.id}"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" id="submit" class="register_form">Change</button>
            </form>
        </div>
    </div>
</html>