<html layout:decorator="layout">

<div layout:fragment="content">

<div class="container">
    <p class="join_curse"><a class="new_course" href="/posts/new">Add course</a></p>

    <table class="courses">
        <thead>
        <tr>
            <th>Courses</th>
            <th>Action</th>
            
        </tr>
        </thead>
        <tbody class="course_list">
        <tr data-th-each="post : ${posts}">
            <td class="message" data-th-text="${post.message}"></td>

            <td class="buttons">
                <a th:href="@{'/posts/{id}/edit'(id=${post.id})}" class="btn btn-warning btn-sm" th:attr="name=${post.message}">
                        Edit
                </a>
                <a th:href="@{'/posts/{id}/delete'(id=${post.id})}" class="btn btn-danger btn-sm" th:attr="name=${post.message}">
                    X
                </a>
            </td>
        </tr>
                <tr>
            <td colspan="2" class="end">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</html>