
<html layout:decorator="layout">
    <div layout:fragment="content">
   
       
            <h1 class="logo">SMaSys</h1>
            <div class="login_container">
                <form action="">
                    <label for="fname">E-Mail</label>
                    <input type="text" id="fname" name="firstname">

                    <label for="lname">Password</label>
                    <input type="text" id="lname" name="lastname">

                    <input type="submit" value="Login" class="login">
                </form>
            </div>
       

    </div>
</html>
