<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SMaSys</title>
    <link href="/css/style_1.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" />
</head>
<body>   
    <div class="back3">
<div class="container">
       <h1 class="login">SMaSys</h1>
       <p class="login">Student Management System</p>
       <div class="login">
       <div th:if="${param.error}">
            Invalid username or password.
    </div>
    <div th:if="${param.logout}">
            You have been logged out.
    </div>
        <form method="post" name="comment_form" id="comment_form" th:action="@{/}" >
                <label for="email">E-Mail</label>  <br />              
                <input class="email" type="text" name="username" /> <br />
                <label for="pass">Password</label> <br />
                <input class="pass" type="password" name="password" />
               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <br />
            <button type="submit" id="submit" class="login">LOGIN</button> <br />
        </form>
       <a class="register" href="/createuser">Register</a>
    </div>
</div>
</div>
</body>
</html>