<html layout:decorator="layout">
    <div layout:fragment="content">
        <p class="join_curse"><a class="new_course" href="/success">Cancel</a></p>
        <br />
        <h3>Create new Lesson:</h3>
        <h3><span th:text="${eempty}" /></h3>
        <h3><span th:text="${ecourseid}" /></h3>
        
        <p><span th:text="${message}" /></p>
        <div class="register">
           
        <form method="post" name="lesson_form"  th:action="@{/create_lesson}">            
                <label for="title">Lesson Title:</label> <br />
                <input class="form" type="text" name="title"/> <br />
                <label for="crpoints">Credit Points:</label> <br />
                <input class="form" type="text" name="crpoints"/> <br />
                <label for="courseid">Course Id:</label> <br />
                <input class="form" type="text" name="courseid"/> <br />                
                <label for="password">Course Password:</label> <br />
                <input class="form" type="password" name="password"/> <br />
                <label for="description">Description:</label> <br />
                <input class="form" type="text" name="description"/> <br />
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <br />
                <button type="submit" id="submit" class="create_form">Create</button>
        </form>        
        </div>
    </div>
</html>