<!DOCTYPE html>
<html>
    <head>
        <title>Teacher</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="teacher_container">
            <div class="info">
                <table class="info">
                    <tr>
                        <td>
                            <h1 class="name">Name Surname</h1>
                        </td>
                        <td>
                            <form action="">
                                <input type="submit" value="Logout" class="logout">
                            </form>
                        </td>
                    </tr>    
                </table>
            </div>
            <div class="main">
                <table class="main_result">
            <!------- CAPTION --------
                    <caption>
                        Courses
                    </caption>
            --------- CAPTION -------->
                    <tr>
                        <th>
                            Courses
                        </th>
                        <th>
                            Manage
                        </th>
                    </tr>
            <!------- STUDENT ENTRIES -------->
                    <tr>
                        <td>Sport</td>
                        <td>
                            <form action="">                                   
                                <input type="submit" value="Manage" class="manage">
                                <input type="submit" value="Remove" class="remove">       
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Computer</td>
                        <td>                            
                            <form action="">                                   
                                <input type="submit" value="Manage" class="manage">
                                <input type="submit" value="Remove" class="remove">       
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Mathematic</td>
                        <td>
                            <form action="">                                   
                                <input type="submit" value="Manage" class="manage">
                                <input type="submit" value="Remove" class="remove">       
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form action="">                                   
                                <input type="submit" value="Add course" class="add">      
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
