<html layout:decorator="layout">
    <div layout:fragment="content">

<form method="post" name="comment_form" id="comment_form" th:action="@{/student/join_course}" >
        <br />       
    <label for="courseid">Course ID</label>            
                <input type="text" 
                       name="courseid" /> <br/>
              
               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" id="submit" class="login_form">Join</button>
</form>

    <table class="courses">
        <thead>
        <tr>
            <th>Teacher</th>
            <th>Lesson</th>
            
        </tr>
        </thead>
        <tbody>
            <tr data-th-each="lesson : ${lessons}">               
                <td data-th-text="${lesson.teacher.lastname}"></td>
                <td >
                    <a th:href="@{'/lessons/{id}/show'(id=${lesson.lessonid})}" th:attr="name=${lesson.title}">
                           <span th:text="${lesson.title}" />
                    </a>
                </td>
            
            </tr>
     
        </tbody>
    </table>

</div>
</html>