<html layout:decorator="layout">
    <div layout:fragment="content">


        
<!--        <a href="/newcourse" class="join_curse"> <button type="button">Create Course</button></a>
        <a href="/newlesson" class="join_curse"> <button type="button">Create Lesson</button></a>-->
<table class="two_buttons"><tr><td>
        <p class="join_curse"><a class="new_course" href="/newcourse">Create Course</a></p>
        </td><td>
        <p class="join_curse"><a class="new_course" href="/newlesson">Create Lesson</a></p>
        
        </td></tr></table>

        <h1>Hello Teacher<!--<span th:text="${user.message}" />--></h1>

        <h2>Create New Course or a New Lesson</h2><br/>


        <a href="/new_course"> <button type="button">Create Course</button></a>
        <a href="/new_lesson"> <button type="button">Create Lesson</button></a>


        <table>
            <thead>
                <tr>
                    <th>Course you created</th>
                    <th>Course ID</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="course : ${courses}">               
                    <td data-th-text="${course.title}"> </td>
                    <td  data-th-text="${course.courseid}"></td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Your Lesson</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="lesson : ${lessons}">  
                   
                    <td>
                    
                     <a th:href="@{'/course/{id}/show'(id=${lesson.course.courseid})}" th:attr="name=${lesson.course.title}">
                           <span th:text="${lesson.course.title}" />
                        </a>
                    </td>
                     <td> 
                         <a th:href="@{'/lessons/{id}/show'(id=${lesson.lessonid})}" th:attr="name=${lesson.title}">
                           <span th:text="${lesson.title}" />
                        </a>
                     </td> 
                    
                </tr>
            </tbody>
        </table>
    </div>
</html>